body{
    background-color: #FFF2CC;
}
.welcome {
    color: #222222;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-family: sans-serif;
    position: relative;
    width: 60%;
    top: 50px;
}
.welcome h1{
    font-weight: lighter;
    margin-top: 60px;
    width: 100%;
    font-size: 65px;
    margin-bottom: 25px;
}
.welcome h2{
    font-weight: normal;
    font-size: 40px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}
.welcome h3{
    font-weight: normal;
    font-size: 33px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.welcome-links{
    margin-top: 30px;
    align-items: center;
}
.welcome-links a{
    background-color: #087E8B;
    color: #ffffff;
    border: #022327 solid 1px;
    border-radius: 50px;
    align-content: center;

    font-size: 18px;
    text-decoration: none;

    display: inline-block;
    height: 30px;
    width: 130px;
    padding: 5px 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    white-space: nowrap;
}

.welcome-links a:hover{
    background-color: #0bafc1;
}